language: rust
sudo: false
env:
  global:
    secure: XwlTVpbmG04E8YjX8RPPOsr+CDQ1bDLTY8eORrpZe2IZGdyNbZB9X4H7vumPe5AmGejh4mSXp1Wit1n2/rnYBbNE3B7+EiHsnFH8/MnB9Un75xaN2ps9KXkAj3VJIwnDa3V7ytarCryp1RL8YOPJGAHEYGk6SBDSLI8zFLYVN58=
script:
- cargo build --verbose && cargo test --verbose && cargo doc --verbose
after_success:
- test "$TRAVIS_PULL_REQUEST" == false && test "$TRAVIS_BRANCH" == "master" && bash deploy-docs.sh
